<div class="container">
  <h1>Create a Post!</h1>

  <form action="/create_post" method="post">

    <label>Title<input type="textarea" name="post[title]" placeholder="title"></label><br>

    <label>Description<input type="textarea" name="post[description]" placeholder= "description"></label><br>

    <input type="submit" name="submit">
</div>
